#auth-login :where(.css-dev-only-do-not-override-1odpy5d) a:hover {
   text-decoration: underline;
   color: #51a2f8;
}

#auth-login .ant-checkbox-label {
   font-size: 15px;
   color: #ff5100;
}

#auth-login .ant-checkbox-label:hover {
   color: #f88651;
   text-decoration: underline;
}  